@using System.Linq;

@{
    var modelMetadata = ViewData.ModelMetadata;
    RelationScaffolding.RelationOne2ManyAttribute relationAttribute = modelMetadata.ContainerType.GetMembers().FirstOrDefault(x => x.Name == modelMetadata.PropertyName).GetCustomAttributes(typeof(RelationScaffolding.RelationOne2ManyAttribute), false).FirstOrDefault() as RelationScaffolding.RelationOne2ManyAttribute;
    var lookup = new RelationScaffolding.RelationCollectionHelper(ViewData).GetLookup();
    var data = ViewData["list"];
    if (data == null)
    {
        data = ViewData.Model;
    }

    ViewData.TemplateInfo.HtmlFieldPrefix = string.Empty;
}

<div>
    <ul>
        @if (data != null)
        {
            foreach (var relationMemberLookup in ((IEnumerable<object>)data).Select(o => new WebApplication1.Models.RelationMemberLookup(o)))
            {
                var guid = Guid.NewGuid().ToString("N");
                <li><input type="checkbox" name="@modelMetadata.PropertyName" checked="@lookup.Any(l => Object.Equals(l.SelectedObjectKey, relationMemberLookup.SelectedObjectKey))" id="@guid" value="@Html.AttributeEncode(relationMemberLookup.SelectedObjectKey)" /><label for="@guid">@Html.Encode(relationMemberLookup.SelectedObjectDisplay)</label></li>
            }
        }
    </ul>
    <div class="relation-add">
        @if (relationAttribute.CanAdd)
        {
            @Html.TextBox(Guid.NewGuid().ToString("N"))
            <button type="button">Add</button>
        }
    </div>
</div>
