@using System.Linq;

@{
    var modelMetadata = ViewData.ModelMetadata;
    RelationScaffolding.RelationMultipleAttribute relationAttribute = RelationScaffolding.RelationHelper.GetCustomAttributesFromContainer<RelationScaffolding.RelationMultipleAttribute>(modelMetadata.ContainerType, modelMetadata.PropertyName);
    var lookup = new RelationScaffolding.RelationCollectionHelper(ViewData).GetLookup();
    var data = ViewData["list"];
    if (data == null)
    {
        data = ViewData.Model;
    }

    ViewData.TemplateInfo.HtmlFieldPrefix = string.Empty;

    var listType = modelMetadata.ModelType.GetGenericArguments().FirstOrDefault() ?? modelMetadata.ModelType.GetElementType();
    var listMemberLookup = new RelationScaffolding.RelationMemberLookup(null, listType);
    var editName = listMemberLookup.EditMember == null || listMemberLookup.EditMember.MemberInfo == null ? "" : listMemberLookup.EditMember.MemberInfo.Name;
}

<div class="relation" data-relation-name="@modelMetadata.PropertyName" data-relation-id="@listMemberLookup.KeyMember.MemberInfo.Name" data-relation-edit="@editName">
    <div class="relation-list">
        <ul>
            @if (data != null)
            {
                var index = 0;
                foreach (var relationMemberLookup in ((IEnumerable<object>)data).Select(o => new RelationScaffolding.RelationMemberLookup(o)))
                {
                    index++;
                    var guid = Guid.NewGuid().ToString("N");
                    <li>
                        <input type="hidden" name="@(modelMetadata.PropertyName)[@index].@relationMemberLookup.KeyMember.MemberInfo.Name" value="@Html.AttributeEncode(relationMemberLookup.KeyMember.Value)" />
                        @if (relationMemberLookup.EditMember != null && relationMemberLookup.EditMember.MemberInfo != null)
                        {
                            <input type="hidden" name="@(modelMetadata.PropertyName)[@index].@relationMemberLookup.EditMember.MemberInfo.Name" value="@Html.AttributeEncode(relationMemberLookup.EditMember.Value)" />
                        }

                        <input type="checkbox" name="@(modelMetadata.PropertyName).index" value="@index" checked="@lookup.Any(l => Object.Equals(l.KeyMember.Value, relationMemberLookup.KeyMember.Value))" id="@guid" />
                        <label for="@guid">@Html.Encode(relationMemberLookup.DisplayMember.Value)</label>
                    </li>
                }
            }
        </ul>
    </div>
    @if (relationAttribute != null && relationAttribute.CanAdd)
    {
        <div class="relation-add">
            @Html.TextBox(Guid.NewGuid().ToString("N"))
            <button type="button">Add</button>
        </div>
    }
</div>
