@model RelationScaffolding.WebTests.Models.ViewModel
@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>
<a href="@Url.Action("Write")">Switch</a>

<h3>Teacher</h3>
<div>
    Name: @Html.DisplayFor(m => m.Teacher.Name)
</div>
<div>
    Courses: @Html.DisplayFor(m => m.Teacher.Courses)
</div>
<div>
    Activities: @Html.DisplayFor(m => m.Teacher.ActivityTeachers)
</div>

<h3>Course</h3>
<div>
    Name: @Html.DisplayFor(m => m.Course.Title)
</div>
<div>
    Teacher: @Html.DisplayFor(m => m.Course.Teacher)
</div>

<h3>Student</h3>
<div>
    Name: @Html.DisplayFor(m => m.Student.Name)
</div>
<div>
    Enrollments: @Html.DisplayFor(m => m.Student.Enrollments)
</div>

<h3>Enrollment</h3>
<div>
    Course: @Html.DisplayFor(m => m.Enrollment.Course)
</div>
<div>
    Student: @Html.DisplayFor(m => m.Enrollment.Student)
</div>